.mdl-layout__header {
  background-color: #8B142E;
  background: transparent;
  /*position: fixed;*/
  box-shadow: none;
}

.logo {
  height: 30px;
  background: transparent;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: #8B142E;
    font-size: 1.5rem;
    opacity: 1;
}

.mdl-layout__header-row .mdl-navigation__link .material-icons {
  font-size: 3rem;
}

.mdl-badge.mdl-badge--overlap {
  text-shadow: 0px 2px 5px #272F3A;
}

.mdl-badge.mdl-badge--overlap::selection {
  background: transparent;
  border: 0;
}

.mdl-badge[data-badge]:after {
  background-color: #DDDCA3;
  color: #722C2A;
  text-shadow: none;
}

.menu .mdl-button--icon {
  width: 50px;
  height: 50px;
}

.menu .mdl-button .mdl-badge[data-badge]:after {
  height: 20px;
  width: 20px;
  top: -8px;
  right: -8px;
}

.menu .mdl-menu {
  background-color: #fff;
  top: -12px;
  right: -20px;
}

.menu .mdl-chip {
  margin: 0;
  padding: 0;
}

.menu .mdl-chip__contact {
  margin: 0;
}
