.training-participants {
  flex-grow: 1;
}

.mdl-card {
  width: 100%;
  min-width: 300px;
}

.mdl-card__title {
  height: 199px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 1rem;
}

.mdl-card__supporting-text {
  overflow: auto;
  width: initial;
  text-align: center;
}

.mdl-card__actions.mdl-card--border {
  display: inline-flex;
  vertical-align: middle;
}

.status-message {
  margin-left: 1rem;
  line-height: 36px;
}