.menu {
  height: 3rem;
  display: flex;
}

.menu div {
  height: 3rem;
  top: 1rem;
}

.mdl-card {
  width: 100%;
}

.mdl-card__title {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 14rem;
  /* background: url('../images/rgt-lutalivre.jpg') center / cover; */
}

.mdl-card__title h2 {
  min-height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
}

.mdl-card__title h3 {
  min-height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
}

.mdl-card__title h4 {
  text-align: center;
}

.belt {
  position: absolute;
  width: 160px;
  height: 160px;
  margin-top: -3px;
  margin-left: 2px;
}

.brown-belt {
  background-image: url('../images/belts/brown_belt_small.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.no-belt {
  background-image: url('../images/belts/no_belt_small.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.blue-belt {
  background-image: url('../images/belts/blue_belt_small.png');
  background-repeat: no-repeat;
  background-position: right top;
}